.API__main {
    min-width:60vw;
    margin-top:25px;
    border-radius: 7px;
    background-color:white;
    display:flex;
    flex-direction: column;
}

.API__search {
    border:none;
    padding:5px;
    margin: 10px;
    border-bottom:1px solid lightgrey;
    font-size:0.8em;
    color:grey;
}

input:focus {
    outline:none;
}