.studentCard {
    color:black;
    display:flex;
    flex-direction:row;
}

.StudentCard__col {
    display:flex;
    flex-direction:column;
    min-width:100%;
}

.studentPhoto {
    border-radius:50%;
    border:1px solid lightgrey;
    height:100px;
    margin-right:25px;
}

h1 {
    text-transform:uppercase;
    margin:0;
    font-size:1em;
    padding-bottom:3px;
}

p {
    font-size:12px;
    margin:0;
    text-align:left;
    padding-left:15px;
    color:darkgrey;
}

.StudentCard__main {
    min-width:60vw;
    margin-top:25px;
    min-height:100vh;
    border-radius: 7px;
    background-color:white;
    display:flex;
    flex-direction: column;
}

.panel {
    /* position:relative;
    top:-25px;
    left:15%;
    z-index:5; */

}

ul {
    list-style:none;
    padding:0;
}

li {
    color:darkgrey;
    font-size:12px;
    text-align:left;
    padding-left:15px;
}

.StudentCard__row{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.plusSign {
    /* display:flex; */
    align-self:flex-end;
    max-height:1em;
    color:darkgrey;
}

.fa-plus {
    color:darkgrey;
    position:absolute;
    right:15px;
    top:15px;
}